:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.8rem;
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
}
.white-text {
    color: #fff !important;
}

.background-color {
    background-color: #14b9d5;
}

.border-none {
    border: none;
}

.border {
    border: 1px solid #fff;
}

.month-card__master {
    padding: 22px 0 72px 0;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* test */
.grid__column-4 {
    /* padding-left:5px;
    padding-right:5px; */
    width: 25%;
}

.grid__column-3 {
    width: calc(100% / 3);
}

.grid__column-3-margin {
    width: calc(100% / 3);
    padding-left:15px;
    padding-right:15px;
}

.grid__column-4-full {
    width: 33.33333%;
}

.grid-half {
    width: 50%;
}

.grid__column-4-2 {
    width: 50%;
    padding-left:16px;
    padding-right:16px;
}

.grid__column-8 {
    width: 66.66667%;
}

.grid__column-2-4 {
    padding-left:5px;
    padding-right:5px;
    width: 20%;
}

.grid__column-10 {
    padding-left:5px;
    padding-right:5px;
    width: 83.3334%;
}





